* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: blue;
    font-size: 20px;
    text-align: center;
}
.container {
    padding-top: 10px;
    margin: 10px auto;
    width: 600px;
    height: 500px;
    background-color: darkgrey;
    border: 2px solid black;
<<<<<<< HEAD
   border-radius: 10px;

   
>>>>>>> formbranch
}